.departmentSection{

    width: 100%;
    height: 100%;
}
.department-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #ffff;
  }
  
  .department-list {
    display: flex;
    justify-content: center;
  }
  
  .department-list h3 {
    margin-bottom: 1rem;
    color: #00468b;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .department-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .department-list li {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 50vw;
    text-align: center;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #00468b;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .department-list li:hover {
    background-color: #0AB3B8;
  }
  
  .department-list li.active {
    background-color: #0AB3B8;
    color: #fff;
  }
  
  .department-list li.active:hover {
    background-color: #fff;
    color: #00468b;
  }
  
  .department-details {
    flex: 1;
    justify-content: center;
    
  }
  
  .department-header {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .department-header h3 {
    color: #00468b;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .department-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .department-image {
    display: none;
    margin-bottom: 2rem;
  }
  
  .department-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .department-description p {
    font-size: 16px;
    line-height: 1.5;
    color: #00468b;
  }
  .department-head{
    margin-bottom: 1rem;
    color: #00468b;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  @media screen and (min-width: 700px) {
    .department-container {
      flex-direction: row;
      padding: 2.5rem;
      justify-content: start;
    }
  
    .department-list {
      flex: 1;
      margin-right: 2rem;
      margin-bottom: 0;
    }
  
    .department-details {  
      flex: 2;
    }
  
    .department-header {
      margin-bottom: 2rem;
    }
  
    .department-header h3 {
      font-size: 20px;
    }
  
    .department-content {
      flex-direction: column;
      align-items: start;
    }
  
    .department-image {
      display: block;
      margin-right: 1rem;
      margin-bottom: 0;
      max-width: 100%;
    }
  
    .department-description {
      width: 30rem;  
      flex: 1;
    }
    .department-image img {
        height: 200px;
        width: 200px;
        border-radius: 5px;
      }
    .department-head{
        font-size: 1.5rem;
      }
      .department-list li {
        width: 20vw;
      }
      
  .department-header {
    margin-bottom: 2rem;
    text-align: start;
  }
  }
  .department-list li.test {
    background-color: #0AB3B8;
    color: black;
  }
  .book-btn{
    background-color: #0AB3B8;
    padding: 1rem;
    color: #fff;
    font-size: 12px;
  }
.book-btn:hover{
    background-color: #F2F6FF;
    color: #00468b;

}