.doctorSignup {
    background-image: url("../assets/background-clinic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  