.uploadDetails {
    background-image: url("../assets/uploadbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  
  